body{
margin: 0;
}
.toptext{
padding: 10px;
height: 85px;
font-size: 60px;

}
.wetribute{
color: #4CAF50;
}
.wetribute:hover{
    color: black;
}
.top{
background-color: #4CAF50;
height: 40px;
position: sticky;
top: 0;
}
.topname{
color: white;
font-size: 40px;
margin-left: 10px;
}
.button{
float: right;
font-size: 14px; 
padding: 8px;
margin-right: 10px;
position: relative;
top: 3px;
color: black;
border: 1px solid gray;
border-radius: 9px;
background-color: #A9A9A9;
}
.img{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
height: 550px;
}
.high{
font-size: 25px;
font-family: sans-serif, arial;
}
.sidenav{
height: 100%;
width: 0;
position: fixed;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 60px;
transition: 0.5s;
}
.sidenav a,.dropdown{
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
background: none;
border: none;
cursor: pointer;
outline: none;
}
.dropdown:hover, .close:hover, .sidenav a:hover{
    color: #f1f1f1;
}
.sidenav .close{
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
color: #818181;
}
.heronames{
    cursor: pointer;
    display: none;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
}
.heronames li:hover{
    color: #f1f1f1;
}
.sidenav li{
    list-style-type: none;
}
#main {
transition: margin-left .5s;
padding: 0px;
}






















