body{
margin: 0;
background-color: black;
}
.toptext{
padding: 10px;
height: 85px;
font-size: 60px;

}
.wetribute{
color: #4CAF50;
}
.wetribute:hover{
color: white;
}
.top{
background-color: #4CAF50;
height: 40px;
position: sticky;
top: 0;
}
.topname{
color: white;
font-size: 40px;
margin-left: 5px;
}
.button{
float: right;
font-size: 14px; 
padding: 8px;
margin-right: 10px;
position: relative;
top: 3px;
color: black;
border: 1px solid gray;
border-radius: 9px;
background-color: #A9A9A9;
}
.img{
display: block;
margin-left: auto;
margin-right: auto;
width: 40%;
height: 550px;
}
.high{
font-size: 30px;
color: white;
}











